[project]
	description = a template for android app development using RxJava . Dagger2 . MVP . otto . etc.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/waitinghu
[access "refs/for/refs/*"]
	read = group user/waitinghu
	push = group user/waitinghu
	label-Code-Review = -2..+2 group user/waitinghu
	label-Verified = -1..+1 group user/waitinghu
	rebase = group user/waitinghu
	removeReviewer = group user/waitinghu
	submit = group user/waitinghu
[access "refs/heads/*"]
	read = group user/waitinghu
	create = group user/waitinghu
	push = +force group user/waitinghu
	pushMerge = group user/waitinghu
[access "refs/tags/*"]
	push = +force group user/waitinghu
	pushTag = group user/waitinghu
	pushSignedTag = group user/waitinghu
